:root {
    --clear: #00000000;
    --black: #343434;
    --grey: #8e8b82;
    --beige: #e9dcbe;
    --white: #f3f3f3;
}

::-webkit-scrollbar {
    display: none;
}

body {
}

@font-face {
    font-family: 'title';
    src: local('techno_hideo'),
    url('assets/fonts/techno_hideo.woff') format('woff');
    /* url(' assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf') format('truetype'); */
}

@font-face {
    font-family: 'robot_font';
    src: local('robot'),
    url(' assets/fonts/Red_Hat_Display/RedHatDisplay-VariableFont_wght.ttf') format('truetype');
    /* url('assets/fonts/Robot_Font.otf') format('truetype'); */
}

body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    cursor: url('assets/imgs/cursor/cursor.png'), default;
    background-position: center center;
    background-size: cover;
    background-color: #090909;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: hidden;
}

.cursor_default {
    cursor: url('assets/imgs/cursor/cursor.png'), default;
}

.cursor_pointer {
    cursor: url('assets/imgs/cursor/pointer.png'), pointer;
}

h2 {
    text-align: center;
    font-family: 'title', sans-serif;
    font-size: xxx-large;
    text-shadow: 4px 4px 4px black;
}

h3 {
    text-align: center;
    font-family: 'title', sans-serif;
    font-size: xx-large;
    text-shadow: 4px 4px 4px black;
}

p,
input {
    font-family: 'robot_font', sans-serif;
    letter-spacing: 0.1rem;
    font-size: large;
}

/* p {
    text-shadow: 2px 2px 2px black;
} */

button {
    cursor: url('assets/imgs/cursor/pointer.png'), pointer;
}

button p {
    text-shadow: none;
}

.button-30 {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
    box-sizing: border-box;
    display: inline-flex;
    height: 48px;
    min-width: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s,
    transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-30:focus {
    box-shadow: #d6d6e7 0 0 0 1.5px inset,
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
}

.button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #d6d6e7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-30:active {
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

.color-1 {
    background: var(--white);
    color: var(--black);
}

.color-2 {
    background: var(--beige);
    color: var(--black);
}

.color-3 {
    background: var(--grey);
    color: var(--black);
}

.color-4 {
    background: var(--black);
    color: var(--white);
}

.inside-border {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* Hide input spinners */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}