*{
    text-shadow: none;
}
.notif {
    width: 300px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* background: #2b2b2b; */
    padding: 15px 10px;
    margin: 5px;
    border-radius: 6px;
    color: #e0e0e0;
    /* color: #2d2d2d; */
    transition: 0.3s ease-in-out; 
    /* border-left: 0.5px solid grey; */
    border-bottom: 0.5px solid grey;
}

.notif:hover {
    background: linear-gradient(to left, #2b2b2b 10%, rgb(26, 26, 26) 90%);

}

.notif .container {
    margin-left: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.bar {
    width: 6px;
    border-radius: 10px;
    height: 100%;
    background: linear-gradient(to bottom, #ADD8E6, #0000FF);
}

.notif .container .username {
    margin: 0;
    display: flex;
    align-items: center;
}

.notif .container .username button {
    margin: 0;
    display: flex;
    align-items: center;
}


.notif .container .username p {
    margin-left: 10px;
}
.notif .container .btn {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

/* .notif .container .btnChat {
    border: none;
    border-radius: 6px;
    background: rgb(220, 246, 255);
    padding: 5px 10px;
    color: rgb(42, 42, 42);
} */