@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
.btnContainer {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
.btnContainer img {
    /* margin-left: 20px; */
    width: 100%;
}
.btnContainer{
    color: #c50ce1;
    overflow: hidden;
}

.btnContainer > img{
    transition: 0.5s;
}

.btnContainer:hover > img{
    transition: 0.5s;
    filter: drop-shadow(0 0 1px rgb(0, 180, 255));
}

.btnContainer span{
    position: absolute;
    display: block;
}
