{
    "singleQuote": true,
    "trailingComma": "all",
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
