{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        "*.ts",
        "*.tsx"
      ],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
